@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* body settings - James */

html,
body{
    height: 100vh; 
    background-color: rgb(211, 72, 8);
    box-sizing: border-box;
    margin: auto;
    
}

.container{
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 15% 10% 65% 10%;
    grid-template-areas: 
        "header header header header header"
        "nav1 nav2 nav3 nav4 nav5"
        "main main main photos photos"
        "footer footer footer footer footer";
    
}

/* header - Benedict */



/* nav bar - Mathew*/
[5:49 PM] JAMES PAUL SAMPEDRO
    
.nav-props{​​​​​
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 15px;
background-color: rgb(233, 137, 92);
}​​​​​

.nav-props p{​​​​​
font-size: 2rem;
font-family: 'Orelega One';
}​​​​​
.navItemNo1{​​​​​
grid-area: nav1;
}​​​​​
.navItemNo2{​​​​​
grid-area: nav2;
}​​​​​
.navItemNo3{​​​​​
grid-area: nav3;
}​​​​​
.navItemNo4{​​​​​
grid-area: nav4;
}​​​​​
.navItemNo5{​​​​​
grid-area: nav5;
}​​​​​



/* main body - Brexther*/



/* footer - Belle */
